<template>
  <div>
    <b-nav vertical class="w-35">
      <b-nav-item active><router-link to="/">หน้าหลัก</router-link></b-nav-item>
      <b-nav-item active><router-link to="/login">เข้าสู่ระบบ</router-link></b-nav-item>
      <b-nav-item active><router-link to="">ออกจากระบบ</router-link></b-nav-item>
      <b-nav-item active><router-link to="">จัดการบัญชีผู้ใช้</router-link></b-nav-item>
      <b-nav-item active><router-link to="/announces">จัดการประกาศ</router-link></b-nav-item>
      <b-nav-item active><router-link to="/institution">จัดการสถานประกอบการ</router-link></b-nav-item>
      <b-nav-item active><router-link to="/student">จัดการนิสิต</router-link></b-nav-item>
      <b-nav-item active><router-link to="">จัดการสถานะสหกิจ</router-link></b-nav-item>
      <b-nav-item active><router-link to="/training">จัดการการอบรมสหกิจ</router-link></b-nav-item>
      <b-nav-item active><router-link to="">จัดการชั่วโมงอบรมนิสิต</router-link></b-nav-item>
      <b-nav-item active><router-link to="/professor">จัดการอาจารย์</router-link></b-nav-item>
      <b-nav-item active><router-link to="/addprofessor">เพิ่มอาจารย์ที่ปรึกษา</router-link></b-nav-item>
      <b-nav-item active><router-link to="/form">แบบฟอร์มเอกสาร</router-link></b-nav-item>
      <b-nav-item active><router-link to="/about">เกี่ยวกับสหกิจศึกษา</router-link></b-nav-item>
      <b-nav-item active><router-link to="">ติดต่อ</router-link></b-nav-item>
       <b-nav-item active><router-link to="/status">สถานะสหกิจศึกษา</router-link></b-nav-item>
    </b-nav>
  </div>
</template>
